.RequestQuoteButton{
    background-color: white;
    border: 1px solid black;
    width: 232px;
    height: 72px;
}
.RequestQuoteButton:hover{
    background-color: white;
    border-color: #888888;
}